body{
    background-color: #e7f0f9;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}
#title{
    text-align: center;
    background-image: url("images/stripes.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    height: 250px;
    padding-top: 70px;
    color: white
    
}
#button{
    border-width: 0px;
    background-color: #24a0ed;
    color: white;
    height: 35px;
    width: 115px;
    border-radius: 5px;
    font-size: 15px;
    transform: translateY(20px);
    font-weight: bold;
}
#button:hover{
    background-color: #237fb7;
}
h1{
    font-size: 45px;
}
#features{
    display: flex;
    justify-content: center; 
    background-color: #dfdfdf;
    height: 300px;
    margin-bottom: 0px;

}
.feat{
    border: 0px solid;
    width: 300px;
    height: 200px;
    float: left;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 6%;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 10px;
    background-color:#e7f0f9;
    box-shadow: 0 2px 6px #bdbdbd;
    animation: 0.5s linear 1 running myScale;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feat:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px #bdbdbd;
}
#rights{
    text-align: center;
    background-color: gray;
    padding: 10px;
}
#rCont{
    font-weight: bold;
}
