body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}
#contactIcon{
    width: 100px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
#title{
    background-color: lightgray;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    padding: 20px;

}
#about{
    background-color: lightgray;
    margin: 8px;
    border-radius: 3px;
    padding: 10px; 
       
}
#projects{
    margin: 8px;
    background-color: lightgray;
    border-radius: 3px;
    padding: 20px;

}
.projects{
    
    width: 300px;
    margin: 30px;
    padding: 10px; 
}
.descTitle{
    font-size: 50px;
}
#contact{
    text-align: center;
    background-color: lightgrey;
    margin: 8px;
    border-radius: 3px;
    padding: 20px;
}
#descAbout{
    font-size: 20px;
}